/**
 Colors
 */
$black-color: #272727;
$blue-color: #364461;
$grey-color: #3e3936;
$light-color: #c3bebe;

$background-color: $black-color;
$card-color: $light-color;
$card-color-2: #b2afa8;
$card-color-3: #90959f;
$card-color-4: #a9a69f;
$header-font-color: $blue-color;
$font-color: $grey-color;
$font-color-light: $light-color;

/**
 Sizes
 */
$area-padding: 32px;
$body-width: 768px;
$breakpoint-tablet: 768px;
$content-padding: 24px;
$content-padding-small: 12px;

$root-font-size: 14px;
$font-size-large: 2rem;
$font-size: 1rem;
