$border-color: #a9a5a5;

.popup {
    background: #00000070;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .btn {
        background: #cbccca;
        display: block;
        text-align: center;
        margin: 10px auto 0;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid $border-color;

        &:hover {
            background: #f6f7f5;
        }
    }
}

.popup-container {
    width: 400px;
    margin: 50px auto 0;
    min-height: 100px;
    background: #ded8d8;
    border: 2px solid $border-color;
}

.popup-title {
    padding: 20px 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
}

.popup-content {
    padding: 20px;
    text-align: justify;
}